@charset "UTF-8";
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraLight.woff2") format("woff2"), url("../fonts/Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/Manrope-ExtraBold.woff2") format("woff2"), url("../fonts/Manrope-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/Manrope-Semibold.woff2") format("woff2"), url("../fonts/Manrope-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  background-color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

img {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

a:hover {
  transition: 0.2s linear;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1175px;
  margin: 0 auto;
}

ul, li, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

::after, :before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input, button, textarea, select {
  font: inherit;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

/*=====================================header========================================*/
/*===============header-menu-top==================*/
.header-menu {
  display: flex;
  flex-direction: column;
}

.header-top-menu {
  background-color: #000d60;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #62d33e;
  padding: 10px 15px;
}
.header-top-menu__location {
  display: flex;
  font-size: 14px;
}
.header-top-menu__top-menu-adress {
  margin-right: 20px;
}
.header-top-menu__top-menu-schedule {
  color: #fff;
  opacity: 0.7;
}
.header-top-menu__call a {
  display: flex;
  align-items: center;
}
.header-top-menu__call-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-top-menu__call-text {
  padding-left: 7px;
  color: #62d33e;
}

.header-top-menu-block {
  display: flex;
  justify-content: space-between;
}

.phone-icon-svg {
  width: 13px;
  height: 16px;
  fill: #62d33e;
}

/*============header-menu-center=============*/
.header-center-menu {
  background-color: #293895;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-menu__logo {
  margin-right: 25px;
}

.logo-menu-block {
  display: flex;
}

.navigation {
  display: flex;
  color: #fff;
}
.navigation__navigation-item {
  margin-left: 25px;
}
.navigation__navigation-item:first-child {
  margin-left: 0;
}
.navigation__navigation-link a {
  color: #fff;
}
.navigation__navigation-link a:hover {
  color: #62d33e;
}

.contacts {
  display: flex;
  align-items: center;
}
.contacts__social {
  display: flex;
}
.contacts__social-icon {
  margin-left: 8px;
}
.contacts__social-icon:first-child {
  margin-left: 0;
}
.contacts__phone-num {
  font-weight: 700;
  font-size: 16px;
  margin-left: 14px;
}
.contacts__phone-num a {
  color: #fff;
}

.phone-icon-svg-white {
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 18px;
  height: 22px;
  fill: #fff;
}

/*==================================header-menu-bottom============================*/
.header-bottom-menu {
  background-color: #fff;
}

.menu-product {
  padding: 20px 15px;
  display: flex;
}

.button-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s linear;
}
.button-menu__burger {
  display: block;
  align-items: center;
  position: relative;
  width: 16px;
}
.button-menu__burger-span {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.button-menu__burger-span:before {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: -5px;
  left: 0;
}
.button-menu__burger-span:after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 5px;
  left: 0;
}
.button-menu__link {
  display: inline-flex;
  align-items: center;
  color: #fff;
  padding: 15px;
  background-color: #293895;
  border-radius: 5px;
  white-space: nowrap;
}
.button-menu__link:last-child {
  display: none;
}
.button-menu__link:hover {
  transition: 0.2s linear;
  background-color: #169E46;
}
.button-menu__link-item {
  margin-left: 10px;
}

.search-menu {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin: 0 30px;
  background: #fff;
  border: 1px solid #C2C5D0;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
}
.search-menu:hover {
  border: 1px solid #62d33e;
}
.search-menu__input-search-menu {
  width: 100%;
}
.search-menu__button-search-menu {
  display: block;
  content: "";
  background-image: url("");
}

.panel-menu-icon {
  display: flex;
  justify-content: center;
}
.panel-menu-icon__item {
  display: flex;
  align-items: center;
  margin-right: 19px;
}
.panel-menu-icon__item:last-child {
  margin-right: 0;
}
.panel-menu-icon__item:hover .panel-menu-icon__link {
  color: #62d33e;
}
.panel-menu-icon__item:hover .panel-menu-icon-svg {
  fill: #62d33e;
  stroke: #62d33e;
}
.panel-menu-icon__item-content {
  display: flex;
  justify-content: center;
  position: relative;
}
.panel-menu-icon__item-content span {
  max-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 6px;
  border-radius: 100px;
  background-color: #62d33e;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  top: -9px;
  right: 15px;
}
.panel-menu-icon__link {
  font-size: 13px;
  color: #293895;
}

.panel-menu-icon-svg {
  width: 22px;
  height: 22px;
  fill: #293895;
  stroke: #293895;
}

.drop-down .header-center-menu {
  display: none;
}

/*==================header-end======================*/
.header-slider-body {
  margin: 0 15px;
  border-radius: 10px;
  height: auto;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header-slider__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 1;
}
.header-slider__body::after {
  display: block;
  content: "";
  background: url("../img/bg.png");
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 550px;
  height: 100%;
}
.header-slider__text-item {
  padding-left: 70px;
  padding-bottom: 70px;
  z-index: 3;
}
.header-slider__text-title {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: calc(14px + 2.7234042553vw);
  line-height: 137%;
  color: #222222;
  padding-bottom: 7px;
}
.header-slider__text-subtitle {
  font-weight: normal;
  font-size: calc(10px + 0.8510638298vw);
  line-height: 120%;
  color: #222222;
  padding-bottom: 45px;
}
.header-slider__text-link {
  font-size: calc(10px + 0.5106382979vw);
  background-color: #62d33e;
  padding: 15px 36px;
  border-radius: 5px;
  color: #fff;
}
.header-slider__img-item {
  padding: 28px 100px 28px 0;
  z-index: 3;
}
.header-slider__img-item img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.header-slider .swiper-pagination {
  display: flex;
  margin-left: 70px;
}

.header-slider .swiper-pagination-bullet {
  background: #62d33e;
  width: 6px;
  height: 6px;
  position: relative;
}
.header-slider .swiper-pagination-bullet::after {
  content: "";
  width: 26px;
  height: 26px;
  border: 1px solid #62d33e;
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 50%;
  opacity: 0;
}

.header-slider .swiper-pagination-bullet-active:after {
  opacity: 1;
}

.header-slider .swiper-pagination-horizontal .swiper-pagination-bullet {
  margin: 10px;
}

.slider-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 15px;
  position: relative;
  z-index: 5;
  background-color: #fff;
  /*Випадающий список под слайдером*/
}
.slider-menu__item-opened {
  display: none;
}
.slider-menu__item-block-link {
  display: flex;
  align-items: center;
}
.slider-menu__item-block-link:hover .slider-menu__item-block-link-text {
  color: #62d33e;
}
.slider-menu__item-block-link:hover .slider-menu-icon-svg {
  fill: #62d33e;
}
.slider-menu__item-block-link:hover .slider-menu__item-block-link-span {
  background-color: #62d33e;
}
.slider-menu__item-block-link:hover .slider-menu__item-block-link-span:before {
  background-color: #62d33e;
}
.slider-menu__item-block-link:hover .slider-menu__item-block-link-span:after {
  background-color: #62d33e;
}
.slider-menu__item-block-link:hover .slider-menu__item-block-link-text-other {
  color: #62d33e;
}
.slider-menu__item-block-link-text {
  padding-left: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 122%;
  color: #293895;
}
.slider-menu__item-block-link-span {
  margin-left: 10px;
  display: flex;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #169E46;
  position: relative;
}
.slider-menu__item-block-link-span:before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #169E46;
  position: absolute;
  top: -5px;
  left: 0;
}
.slider-menu__item-block-link-span:after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #169E46;
  position: absolute;
  top: 5px;
  left: 0;
}
.slider-menu__item-btn-other {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #169E46;
}
.slider-menu__item-btn-other:hover {
  color: #62d33e;
}
.slider-menu__item-btn-other:hover .slider-menu__item-btn-span {
  background-color: #62d33e;
}
.slider-menu__item-btn-other:hover .slider-menu__item-btn-span:before {
  background-color: #62d33e;
}
.slider-menu__item-btn-other:hover .slider-menu__item-btn-span:after {
  background-color: #62d33e;
}
.slider-menu__item-btn-span {
  display: block;
  width: 3px;
  height: 3px;
  background-color: #169E46;
  border-radius: 50%;
  margin-right: 3px;
  position: relative;
}
.slider-menu__item-btn-span:before {
  display: block;
  content: "";
  width: 3px;
  height: 3px;
  background-color: #169E46;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: 0;
}
.slider-menu__item-btn-span:after {
  display: block;
  content: "";
  width: 3px;
  height: 3px;
  background-color: #169E46;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 0;
}
.slider-menu__item-btn {
  display: block;
}
.slider-menu__item-btn-last {
  display: none;
}

.slider-menu.active .slider-menu__item-btn {
  display: none;
}

.slider-menu.active .slider-menu__item-btn-last {
  display: block;
}

.slider-menu.active .slider-menu__item-block-link-text {
  padding: 10px 50px 10px 10px;
}

.slider-menu.active .slider-menu__item-opened {
  display: block;
}

.slider-menu.active {
  justify-content: normal;
}

.slider-menu-icon-svg {
  display: flex;
  align-items: center;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  fill: #169E46;
}

/*================================section-popular========================*/
.popular-block__title-content {
  display: flex;
  justify-content: space-between;
  padding: 30px 15px;
  align-items: end;
}
.popular-block__title {
  display: flex;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 136%;
  letter-spacing: 0.04em;
  color: #000;
}
.popular-block__title-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 132%;
  color: #293895;
}
.popular-block__title-link:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.popular-block__title-link:hover {
  transition: all 0.2s linear;
  color: #62d33e;
}
.popular-block__title-link:hover::after {
  transition: all 0.2s linear;
  background-color: #62d33e;
}

.popular-slider {
  margin: 0 15px;
  display: flex;
  overflow: hidden;
}
.popular-slider__slide {
  display: flex;
  justify-content: center;
}
.popular-slider__content-item {
  position: relative;
}
.popular-slider__content-item-title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 135%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #222222;
  padding-top: 12px;
  max-width: 195px;
  margin: 0 auto;
}

.popular-slider .swiper-button-prev::after,
.popular-slider .swiper-button-next::after {
  content: "";
  display: block;
  width: 12px;
  height: 10px;
  justify-content: center;
  align-items: center;
  background-image: url("../img/arrow.png");
  background-size: cover;
}

.popular-slider .swiper-button-prev::after {
  transform: rotate(180deg);
}

.popular-slider .swiper-slide {
  width: auto;
}

.novelties {
  padding-bottom: 40px;
}

.image-slider {
  overflow: hidden;
}
.image-slider__slide {
  display: flex;
  justify-content: center;
}
.image-slider__slide:hover .image-slider__content {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
}
.image-slider__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 272px;
  height: 400px;
  background: #fff;
  border: 1px solid #f4f5f8;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  position: relative;
}
.image-slider__label {
  position: absolute;
  top: 10px;
  left: 10px;
}
.image-slider__label-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  color: #fff;
  padding: 3px 8px;
  background-color: #62d33e;
  border-radius: 3px;
}
.image-slider__label-action {
  display: inline-flex;
  margin-top: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  color: #fff;
  padding: 3px 8px;
  background-color: #B10707;
  border-radius: 3px;
}
.image-slider__img-panel-svg {
  display: flex;
  justify-content: flex-end;
}
.image-slider__img-panel-svg-icon {
  margin-left: 15px;
  width: 18px;
  height: 18px;
}
.image-slider__img {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.image-slider__title {
  font-size: 14px;
  line-height: 135%;
  color: #222222;
  padding-bottom: 13px;
}
.image-slider__old-action {
  font-size: 13px;
  line-height: 115%;
  text-decoration: line-through;
  color: #828282;
}
.image-slider__old {
  display: none;
}
.image-slider__price-article {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.image-slider__price-action {
  font-weight: bold;
  font-size: 14px;
  line-height: 135%;
  color: #B10707;
}
.image-slider__price {
  font-weight: bold;
  font-size: 14px;
  line-height: 135%;
  color: #000;
}
.image-slider__article {
  font-weight: 300;
  font-size: 12px;
  line-height: 120%;
  color: #828282;
}
.image-slider__btn-link-color {
  width: 100%;
  background-color: #293895;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  color: #fff;
  margin-bottom: 7px;
  cursor: pointer;
}
.image-slider__btn-link-color:hover {
  background-color: #62d33e;
}
.image-slider__btn-link {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  color: #293895;
  border: 1px solid #C2C7EC;
  border-radius: 5px;
  cursor: pointer;
}
.image-slider__btn-link:hover {
  color: #62d33e;
  border: 1px solid #62d33e;
}

.swiper-content {
  position: relative;
}

.swiper-slide-menu-icon-svg {
  fill: #828282;
  stroke: #828282;
  width: 18px;
  height: 18px;
}
.swiper-slide-menu-icon-svg:hover {
  fill: #62d33e;
  stroke: #62d33e;
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
  content: "";
  display: block;
  width: 12px;
  height: 10px;
  justify-content: center;
  align-items: center;
  background-image: url("../img/arrow.png");
  background-size: cover;
}

.image-slider .swiper-button-prev::after {
  transform: rotate(180deg);
}

.swiper-button-prev,
.swiper-button-next {
  width: 42px;
  height: 42px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
}

.image-slider .swiper-slide {
  width: auto;
}

.swiper-slide {
  display: flex;
  align-items: center;
}

.overviews {
  padding-bottom: 40px;
}

.slider-data-tab {
  padding-bottom: 30px;
}

.overview-slider-data {
  overflow: hidden;
}
.overview-slider-data__wrapper {
  display: flex;
  padding: 4px;
  border-radius: 5px;
  background-color: #f2f4f5;
}
.overview-slider-data__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.overview-slider-data__tabs-item {
  border-radius: 3px;
  background: #fff;
  padding: 8px 20px;
  color: #222222;
  font-size: 14px;
  line-height: 120%;
}
.overview-slider-data__tabs-item:hover {
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.overview-slider-data__tabs-item.active {
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.overview-slider-data .swiper-slide {
  width: auto;
}

.overview-slider-tab-block {
  overflow: hidden;
}
.overview-slider-tab-block__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overview-slider-tab-block__tab {
  display: none;
}
.overview-slider-tab-block__tab.active {
  display: flex;
}
.overview-slider-tab-block__tab-block-item {
  border: 1px solid #E3E5F1;
  display: block;
  width: 260px;
  position: relative;
  overflow: hidden;
  border-radius: 9px;
  cursor: pointer;
}
.overview-slider-tab-block__tab-block-item:before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(25.17deg, #7FD155 16.51%, #293895 88.41%);
  opacity: 0.9;
  position: absolute;
  top: 195px;
  left: 0;
  transition: all 0.2s linear;
}
.overview-slider-tab-block__tab-block-item:hover::before {
  top: 0;
}
.overview-slider-tab-block__tab-block-item:hover .overview-slider-tab-block__tab-block-text {
  top: 15px;
  transition: all 0.2s linear;
}
.overview-slider-tab-block__tab-block-item:nth-child(-n+3) .overview-slider-tab-block__tab-block-button {
  display: none;
}
.overview-slider-tab-block__tab-block-item:hover:nth-child(-n+3) .overview-slider-tab-block__tab-block-button {
  display: block;
  transition: 0.5s linear;
}
.overview-slider-tab-block__tab-block-img {
  height: 300px;
}
.overview-slider-tab-block__tab-block-img img {
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overview-slider-tab-block__tab-block-text {
  position: absolute;
  top: 210px;
  left: 35px;
}
.overview-slider-tab-block__tab-block-link {
  padding: 5px 20px;
  background-color: #fff;
  border-radius: 100px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 0.04em;
  color: #222222;
  text-transform: uppercase;
  position: relative;
}
.overview-slider-tab-block__tab-block-link:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 3px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #b10707;
  transform: translate(50%, -50%);
}
.overview-slider-tab-block__tab-block-link:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(50%, 50%);
  right: 4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 6px solid #69a576;
  transform: translate(-50%, -50%);
}
.overview-slider-tab-block__tab-block-title {
  padding-top: 16px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 138%;
  letter-spacing: 0.04em;
  color: #fff;
  text-transform: uppercase;
}
.overview-slider-tab-block__tab-block-button {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
}
.overview-slider-tab-block__tab-block-btn {
  display: flex;
  white-space: nowrap;
  font-weight: 600;
  font-size: 14px;
  line-height: 121%;
  color: #293895;
  padding: 15px 38px;
  background-color: #fff;
  border-radius: 5px;
}
.overview-slider-tab-block__tab-block-btn:hover {
  background: #f2f4f5;
}
.overview-slider-tab-block__tab-block-btn-title {
  padding-bottom: 15px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 138%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fff;
}

.overview-slider-tab-block .swiper-slide {
  width: auto;
}

.brands {
  padding-bottom: 70px;
}

.brands-slider {
  overflow: hidden;
}
.brands-slider__slide {
  display: flex;
  justify-content: center;
  max-width: 210px;
}
.brands-slider__slide:hover .image-slider__content {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
}
.brands-slider__item {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #f4f5f8;
  border-radius: 5px;
  max-width: 205px;
  height: 140px;
  padding: 17px 22px;
  margin: 5px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.brands-slider__item-img {
  width: 160px;
  height: 100px;
}

.swiper-content {
  position: relative;
}

.brands-slider .swiper-slide {
  width: auto;
}

.swiper-slide {
  display: flex;
  align-items: center;
}

.brands-slider .swiper-button-prev::after,
.brands-slider .swiper-button-next::after {
  content: "";
  display: block;
  width: 12px;
  height: 10px;
  justify-content: center;
  align-items: center;
  background-image: url("../img/arrow.png");
  background-size: cover;
}

.brands-slider .swiper-button-prev::after {
  transform: rotate(180deg);
}

.brands-slider .swiper-button-prev,
.brands-slider .swiper-button-next {
  width: 42px;
  height: 42px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
}

.brands-slider .swiper-button-prev {
  left: -5px;
}

.brands-slider .swiper-button-next {
  right: -2px;
}

.products {
  padding: 0 15px 70px;
}

.product-content {
  background: #fff;
  position: relative;
  border: 1px solid #f4f5f8;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 50px 0 50px 50px;
  overflow: hidden;
  z-index: 2;
}
.product-content__bg {
  position: absolute;
  top: 0;
  right: -265px;
  z-index: -1;
}
.product-content__bg img {
  height: 700px;
}
.product-content__column-body {
  display: flex;
  justify-content: space-between;
}
.product-content__column {
  display: block;
  align-items: center;
}
.product-content__title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: calc(14px + 1.7872340426vw);
  line-height: 137%;
  color: #222222;
  padding-bottom: 30px;
}
.product-content__text {
  display: block;
  column-count: 2;
}
.product-content__text-link a {
  color: #293895;
}
.product-content__text-link a:hover {
  color: #62d33e;
}
.product-content__text-link {
  font-weight: 400;
  font-size: calc(8px + 0.6808510638vw);
  line-height: 119%;
  margin-left: 25px;
  margin-bottom: 18px;
  white-space: nowrap;
  position: relative;
}
.product-content__text-link:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #62d33e;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translate(-50%, -50%);
}
.product-content__column-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.girobay-body__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 60px;
}
.girobay-body__column {
  position: relative;
  z-index: 10;
  padding-left: 15px;
  padding-right: 15px;
}
.girobay-body__column-img {
  width: 400px;
  padding: 0 15px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.girobay-body__column-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.girobay-body__girobayru-img {
  position: absolute;
  top: 35%;
  right: 40px;
  transform: translate(0, -50%);
  z-index: 1;
}
.girobay-body__column-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #222222;
}
.girobay-body__column-text p {
  padding: 0 15px 20px;
}
.girobay-body__content-pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.girobay-body__item-border {
  width: 25%;
  display: flex;
  justify-content: center;
}
.girobay-body__item {
  display: block;
  width: 265px;
  margin: 15px;
  padding: 20px;
  height: 150px;
  justify-content: center;
  align-items: center;
  border: 1px solid #f4f5f8;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.girobay-body__item-img img {
  margin: auto;
  padding-bottom: 20px;
}
.girobay-body__item-title {
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-family: "Manrope";
  font-weight: 700;
  font-size: 15px;
  line-height: 147%;
  letter-spacing: 0.03em;
  color: #222222;
}

.comment-section {
  padding-top: 25px;
  padding-bottom: 80px;
}

.comment {
  margin: 0 15px;
  padding: 40px 0;
  border-radius: 10px;
  background: linear-gradient(83.58deg, #86E073 0.98%, #4C6B78 96.11%);
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.comment__slide {
  display: flex;
  justify-content: center;
  padding: 0 65px;
}
.comment__title {
  padding-bottom: 30px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 135%;
  letter-spacing: 0.02em;
}
.comment__paragraph {
  max-width: 766px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
}
.comment__author {
  padding-bottom: 125px;
}

.comment .swiper-button-prev::after,
.comment .swiper-button-next::after {
  content: "";
  display: block;
  width: 12px;
  height: 10px;
  justify-content: center;
  align-items: center;
  background-image: url("../img/arrow-comment.png");
  background-size: cover;
}

.comment .swiper-button-prev::after {
  transform: rotate(180deg);
}

.comment .swiper-button-prev,
.comment .swiper-button-next {
  width: 42px;
  height: 42px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
}

.comment .swiper-pagination {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.comment .swiper-pagination-bullet {
  background: #fff;
  width: 6px;
  height: 6px;
  position: relative;
}
.comment .swiper-pagination-bullet::after {
  content: "";
  width: 26px;
  height: 26px;
  border: 1px solid #fff;
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 50%;
  opacity: 0;
}

.comment .swiper-pagination-bullet-active:after {
  opacity: 1;
}

.comment .swiper-pagination-horizontal .swiper-pagination-bullet {
  margin: 10px;
  bottom: 50px;
}

/*=====================================footer========================================*/
.footer {
  background-color: #22303e;
}

.footer-content {
  padding: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-content__link {
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  line-height: 123px;
  padding: 10px 35px;
  background-color: #62d33e;
  border-radius: 5px;
}

.footer-content-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*footer - column 4*/
}
.footer-content-block__block-item {
  width: 25%;
}
.footer-content-block__block-item-title {
  color: #fff;
  font-size: 18px;
  line-height: 122%;
  padding-bottom: 20px;
}
.footer-content-block__block-item-arrow {
  display: none;
}
.footer-content-block__block-item-list-content {
  padding-bottom: 14px;
}
.footer-content-block__block-item-link-link {
  color: #fff;
  opacity: 0.7;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.footer-content-block__block-item-link-link:hover {
  color: #62d33e;
}
.footer-content-block__block-item-link-link:hover .footer-content-block__block-item-link {
  color: #62d33e;
}
.footer-content-block__block-item-link-link:hover .footer-menu-icon-svg {
  fill: #62d33e;
}
.footer-content-block__block-item-link {
  line-height: 122%;
  padding-left: 10px;
  transition: all 0.2s linear;
}
.footer-content-block__block-item-btn {
  color: #62d33e;
}
.footer-content-block__block-item-btn:hover {
  text-decoration: underline;
}
.footer-content-block__block-item-contacts {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}
.footer-content-block__block-item-contacts-block {
  display: flex;
}
.footer-content-block__block-item-link-phone {
  padding-left: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}
.footer-content-block__block-item-link-adress {
  padding-left: 10px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 135%;
}
.footer-content-block__block-item-social-app {
  display: flex;
}
.footer-content-block__block-item-social-app-border {
  padding-bottom: 25px;
}
.footer-content-block__block-item-contacts-work {
  display: block;
}
.footer-content-block__block-item-social-whatsapp {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #27a71a;
}
.footer-content-block__block-item-social-whatsapp:hover {
  opacity: 0.7;
}
.footer-content-block__block-item-social-viber {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #6f3ea9;
  margin-left: 10px;
}
.footer-content-block__block-item-social-viber:hover {
  opacity: 0.7;
}
.footer-content-block__block-item-social-telegram {
  height: 30px;
  border-radius: 50%;
  background-color: #039be5;
  margin-left: 10px;
}
.footer-content-block__block-item-social-telegram:hover {
  opacity: 0.7;
}
.footer-content-block__block-item-social {
  width: 30px;
  height: 30px;
  background-color: #62d33e;
  border-radius: 50%;
  margin-left: 8px;
}
.footer-content-block__block-item-social:first-child {
  margin-left: 0;
}
.footer-content-block__block-item-social:hover {
  transition: 0.2s linear;
  background-color: #169E46;
}
.footer-content-block__block-item-social-instagram {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 8px;
}
.footer-content-block__block-item-social-instagram:hover {
  transition: 0.2s linear;
  background-color: #169E46;
}
.footer-content-block__block-item-yandex {
  padding-bottom: 30px;
}
.footer-content-block__block-item-yandex:last-child {
  padding-bottom: 0;
}
.footer-content-block__block-item-yandex-title {
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  color: #fff;
}

.footer-subscription__title {
  font-weight: 300;
  font-size: 14px;
  line-height: 121%;
  color: #fff;
  padding-bottom: 10px;
}
.footer-subscription__form {
  width: 250px;
  position: relative;
  z-index: 5;
}
.footer-subscription__form-input {
  height: 34px;
  border: 1px solid #cecece;
  border-radius: 4px;
  background-color: #22303e;
  padding: 10px 15px;
  width: 100%;
  caret-color: #fff;
}
.footer-subscription__form-input::placeholder {
  color: #b9b9b9;
}
.footer-subscription__form-button {
  content: "";
  position: absolute;
  width: 31px;
  height: 31px;
  top: 50%;
  right: 2px;
  transform: translate(0, -50%);
  background-color: #62d33e;
  z-index: 1;
  padding: 3px;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}
.footer-subscription__form-button::after {
  display: block;
  content: "";
  background: url(../img/arrow-small.png);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 5px;
  height: 7px;
}

.footer-menu-icon-svg {
  display: flex;
  align-items: center;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  fill: #169E46;
}

.footer-menu-icon-social {
  width: 30px;
  height: 30px;
  fill: #fff;
}

.footer-menu-icon-social-instagram {
  width: 30px;
  height: 30px;
  fill: #62d33e;
}

.footer-menu__item-block-link {
  display: flex;
  padding-bottom: 14px;
}
.footer-menu__item-block-link:hover .footer-menu__item-block-link-text {
  color: #62d33e;
  transition: 0.2s linear;
}
.footer-menu__item-block-link:hover .footer-menu-icon-icon-svg {
  fill: #62d33e;
  transition: 0.2s linear;
}
.footer-menu__item-block-link-text {
  color: #fff;
  opacity: 0.7;
  font-size: 14px;
  line-height: 121%;
  padding-left: 10px;
}
.footer-menu__item-opened {
  display: none;
}
.footer-menu__item-opened:active {
  display: block;
}
.footer-menu__item-btn-other {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.footer-menu__item-btn {
  font-weight: normal;
  font-size: 14px;
  line-height: 121%;
  color: #62d33e;
}
.footer-menu__item-btn-last {
  display: none;
  color: #62d33e;
}

.footer-menu-icon-icon-svg {
  display: flex;
  align-items: center;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  fill: #169E46;
}

.footer-menu.active .footer-menu__item-btn {
  display: none;
}

.footer-menu.active .footer-menu__item-btn-last {
  display: block;
}

.footer-menu.active .footer-menu__item-opened {
  display: block;
}

@media screen and (max-width: 1100px) {
  .contacts__phone-num {
    display: none;
  }

  .phone-icon-svg-white {
    display: block;
  }

  .footer-content {
    padding: 15px 15px 50px;
  }

  .footer-content-block__block-item {
    width: 50%;
  }
}
@media screen and (max-width: 991px) {
  .header-top-menu {
    display: none;
  }
  .header-top-menu__location {
    display: block;
    color: #293895;
  }
  .header-top-menu__top-menu-adress {
    padding: 20px auto 12px 15px;
    color: #62d33e;
    font-weight: normal;
    font-size: 14px;
    line-height: 121%;
    padding-top: 20px;
    padding-bottom: 12px;
  }
  .header-top-menu__top-menu-schedule {
    display: block;
    color: #222222;
    max-width: 170px;
  }

  .drop-down {
    position: relative;
    display: block;
    width: 70%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -9999px;
    background: #fff;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.15);
    z-index: 20;
    overflow: auto;
  }
  .drop-down__body {
    padding: 20px 15px;
  }
  .drop-down__burger-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
  }
  .drop-down__burger-close:after {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: silver;
    transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
  }
  .drop-down__burger-close:before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: silver;
    transform: rotate(-45deg);
  }

  .drop-down.active {
    left: 0;
  }

  .drop-down .header-center-menu {
    display: block;
  }

  .drop-down .contacts {
    padding: 20px auto 15px 15px;
    display: block;
  }
  .drop-down .contacts__phone-num {
    margin-left: 0;
    padding-bottom: 10px;
    display: block;
  }
  .drop-down .contacts__social {
    padding-bottom: 15px;
  }

  .panel-menu-icon__item:first-child {
    display: none;
  }

  .button-menu__link:last-child {
    display: inline-flex;
  }

  .navigation {
    display: block;
    font-weight: 300;
    font-size: 16px;
  }
  .navigation__navigation-item {
    margin-left: 0;
    margin-top: 18px;
  }
  .navigation__navigation-item:last-child {
    padding-bottom: 20px;
    border-bottom: 1px solid #c1c7ec;
  }
  .navigation__navigation-link a {
    color: #293895;
  }

  .product-content {
    padding: 0;
  }
  .product-content__column-body {
    display: flex;
    justify-content: center;
  }
  .product-content__title {
    text-align: center;
    padding: 30px;
  }
  .product-content__text-link {
    font-size: 14px;
    padding-right: 15px;
  }
  .product-content__text-link:before {
    margin-left: 15px;
  }
  .product-content__column-img img {
    display: none;
  }

  .slider-menu__item-block-link-img {
    display: none;
  }
  .slider-menu__item-block-link-text {
    padding-left: 0;
  }

  .girobay-body__content {
    padding-bottom: 0;
  }
  .girobay-body__item-border {
    width: 50%;
  }
  .girobay-body__item {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .search-menu {
    margin: 0 0 0 15px;
  }

  .panel-menu-icon {
    display: none;
  }

  .header-slider__text-item {
    padding-left: 20px;
  }
  .header-slider__text-title {
    font-size: calc(14px + 54.4 * (100vw - 320px) / 1175);
  }
  .header-slider__text-subtitle {
    font-size: calc(10px + 17 * (100vw - 320px) / 1175);
  }
  .header-slider__text-link {
    font-size: calc(10px + 10.2 * (100vw - 320px) / 1175);
  }
  .header-slider__img-item {
    padding: 40px 20px 40px 0;
  }

  .header-slider .swiper-pagination {
    display: flex;
    margin-left: 0;
    justify-content: center;
  }

  .slider-menu {
    display: none;
  }

  .popular-block__content-item {
    width: 50%;
  }
  .popular-block__title {
    font-size: calc(17px + 18.7 * (100vw - 320px) / 1145);
  }

  .overview-block__tabs-items {
    width: calc(100% + 20px);
    padding-right: 20px;
    white-space: nowrap;
    overflow-x: auto;
  }
  .overview-block__tab-block-item {
    width: 50%;
  }

  .products-content__title {
    font-size: calc(17px + 35.7 * (100vw - 320px) / 1145);
  }

  .girobay-body__content {
    background-image: url("../img/girobay-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 5;
  }
  .girobay-body__content::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(83.58deg, #86E073 0.98%, #4C6B78 96.11%);
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .girobay-body__column-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 142%;
    color: #fff;
  }
  .girobay-body__column-img {
    display: none;
  }

  .girobay-body .popular-block__title {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 135%;
    letter-spacing: 0.02em;
    color: #fff;
  }

  .footer-content-block__block-item {
    width: 100%;
    border-top: 1px solid #fff;
  }
  .footer-content-block__block-item-title {
    padding: 15px 0;
    pointer-events: none;
  }
  .footer-content-block__title-row {
    display: flex;
    justify-content: space-between;
  }
  .footer-content-block__block-item-arrow {
    display: flex;
    align-items: center;
    transform: rotate(90deg);
    padding: 25px;
    pointer-events: none;
  }

  .footer-menu {
    display: none;
  }

  .menufooter-active {
    display: block;
  }
}
@media screen and (max-width: 620px) {
  .products {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .navigation {
    width: 100%;
  }

  .header-slider__text-link {
    padding: 7px 15px;
    border-radius: 2px;
  }

  .contacts {
    display: none;
  }

  .slider-item__link {
    padding: 10px 17px;
  }

  .popular-slider__content-item {
    display: flex;
    align-items: center;
    background: #f2f4f5;
    border-radius: 7px;
    width: 250px;
  }
  .popular-slider__img img {
    width: 100px;
    height: 100px;
    padding: 5px;
  }
  .popular-slider__content-item-title {
    font-size: 10px;
    margin-left: 5px;
    padding-top: 0;
  }

  .product-content__text {
    column-count: 1;
  }

  .girobay-body__item-border {
    width: 100%;
  }

  .drop-down {
    width: 100%;
  }
}